# Importing Libraries

In [12]:
import pandas as pd
import numpy as np
import os
path = r'/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/products_cleaned.csv'
print (path)
df_products_cleaned=pd.read_csv(path, index_col=False)
path2=r'/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/orders_cleaned.csv'
print (path2)
df_orders_cleaned=pd.read_csv(path2, index_col=False)
path3=r'/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Original Data/departments 2.csv'
print(path3)
df_dep=pd.read_csv(path3, index_col=False)
path4=r'/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Original Data/order_products__prior.csv'
print(path4)
df_orders_prior=pd.read_csv(path4, index_col=False)

/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/products_cleaned.csv
/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/orders_cleaned.csv
/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Original Data/departments 2.csv
/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Original Data/order_products__prior.csv

# Merging Data

In [15]:
#check out output
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
#shape checks
df_orders_prior.shape

(32434489, 4)

In [18]:
df_orders_cleaned.shape

(3421083, 8)

In [20]:
#merge df
df_merged_large = df_orders_cleaned.merge(df_orders_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [29]:
df_merged_large.shape

(32434489, 12)

In [28]:
#export merged data as pickle
df_merged_large.to_pickle(os.path.join('/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/', 'orders_products_combined.pkl'))