# Import Libraries

In [4]:
import pandas as pd
import numpy as np
import os
path=r'/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/DV_ords_prods_merged.pkl'
print (path)
ords_prods_merge=pd.read_pickle(path)

/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/DV_ords_prods_merged.pkl

# Aggregrate the mean of the order_number column by dpartment_id

In [15]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busy_order_times,busiest_period_of_the_day,max_order,loyalty_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average time,Average orders,10,New customer
1,1,1,2398795,1,2,3,7,15.0,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10,New customer
2,2,2,473747,1,3,3,12,21.0,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10,New customer
3,3,3,2254736,1,4,4,7,29.0,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10,New customer
4,4,4,431534,1,5,4,15,28.0,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Busiest time,Most orders,10,New customer

In [16]:
ords_prods_merge.groupby('product_name')

In [17]:
#compare the average number of orders across each instacart dapartment by finding the mean of the order_number column grouped by departmen.groupby('department_id').agg({'order_number': ['mean']})
ords_prods_merge.groupby('department_id').order_number.mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [19]:
#same aggregation but using a limited subset
df_ex=ords_prods_merge[:1000000]

In [20]:
df_ex.groupby('product_name')

In [21]:
df_ex.groupby('department_id').order_number.mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

Comparing the limted data set to the values of the entire data frame, the min and max average amount of orders among each department differ and all the department values are listed in the code that include the entire data frame.

# Find Loyal Customers

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busy_order_times,busiest_period_of_the_day,max_order
0,0,0,2539329,1,1,2,8,NaN,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average time,Average orders,10
1,1,1,2398795,1,2,3,7,15.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10
2,2,2,473747,1,3,3,12,21.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10
3,3,3,2254736,1,4,4,7,29.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10
4,4,4,431534,1,5,4,15,28.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Busiest time,Most orders,10
5,5,5,3367565,1,6,2,7,19.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average time,Average orders,10
6,6,6,550135,1,7,1,9,20.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average time,Average orders,10
7,7,7,3108588,1,8,1,14,14.0,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest time,Most orders,10
8,8,8,2295261,1,9,1,16,0.0,196,4,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average time,Average orders,10
9,9,9,2550362,1,10,4,8,30.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average time,Average orders,10
10,144,144,2968173,15,15,1,9,7.0,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average time,Average orders,22
11,146,146,1870022,15,17,2,16,8.0,196,6,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average time,Average orders,22
12,147,147,1911383,15,18,2,11,7.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest time,Most orders,22
13,150,150,2715276,15,21,1,9,7.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average time,Average orders,22
14,151,151,487368,15,22,1,10,14.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Busiest time,Most orders,22

In [12]:
#deriving colums with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [26]:
#check if the number of rows tranformed and loc equal to the df 
ords_prods_merge['loyalty_flag'].value_counts(dropna=False).sum()

32404859

In [28]:
ords_prods_merge.shape

(32404859, 25)

# Produce prices for each loyal customer catgory

In [29]:
#Preform multiple aggregation (min, max, mean, 'sum')
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean','min','max','sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

Loyal customers tend to spend, on average, the least amount out of all the categories. New customers tend to spend the most on average. Regular customers have the greatest sum of amount spent due to the fact that most of the customers fall under the "regular customer" category. Min and max are same for all categories.

# Create a spending flag

In [36]:
#changing the data type user_id and prices to int
ords_prods_merge['user_id']=ords_prods_merge['user_id'].astype(int)
ords_prods_merge['prices']=ords_prods_merge['prices'].astype(int)

In [40]:
ords_prods_merge['avg_price']=ords_prods_merge.groupby('user_id')['prices'].transform(np.mean)

In [41]:
ords_prods_merge.loc[ords_prods_merge['avg_price']>=10, 'spending_flag']= 'high spender'
ords_prods_merge.loc[ords_prods_merge['avg_price']<=10, 'spending_flag']='low spender'

In [44]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

low spender     31840067
high spender      564792
Name: spending_flag, dtype: int64

In [45]:
#check if row number match with df
ords_prods_merge['spending_flag'].value_counts(dropna=False).sum()

32404859

# Create a order frequency flag

In [46]:
ords_prods_merge['med_of_days_since_last_order']=ords_prods_merge.groupby('user_id')['days_since_last_order'].transform(np.median)

In [47]:
ords_prods_merge.loc[ords_prods_merge['med_of_days_since_last_order']>20, 'order_freq_flag']='Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['med_of_days_since_last_order']>10) &(ords_prods_merge['med_of_days_since_last_order']<=20), 'order_freq_flag']='Regular customer'
ords_prods_merge.loc[ords_prods_merge['med_of_days_since_last_order']<=10, 'order_freq_flag']='Frequent customer'

In [48]:
ords_prods_merge['order_freq_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_freq_flag, dtype: int64

In [49]:
#check shape
ords_prods_merge['order_freq_flag'].value_counts(dropna=False).sum()

32404859

In [50]:
ords_prods_merge.to_pickle(os.path.join('/Users/jessicagiron/Desktop/Instacart Basket Analysis 2023/02 Data/Prepared Data/ords_prods_flags.pkl'))